{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}定投收益回测{% endblock %}
{% block navbar %}
<div class="navbar navbar-inverse" role="navigation">
	<div class="container">
		<div class="span5 well pricehover">
			<ul class="nav nav-pills">
				<li><a href="{{url_for('index', _external=True)}}">定投回测</a></li>
				<li class="active"><a href="#">About</a></li>
			</ul>
		</div>
    </div>
</div>
{% endblock %}

{% block page_content %}


<p>版本: 0.5 </p>
<p>程序作者: gzMichael </p>
<p><a href="https://github.com/gzMichael/AIP/issues/1">网站讨论区</a></p>
<p><a href="https://github.com/gzMichael/AIP/">程序源地址</a> </p>

{% endblock %}