{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}定投收益回测{% endblock %}
{% block navbar %}
<div class="navbar navbar-inverse" role="navigation">
	<div class="container">
		<div class="span5 well pricehover">
			<ul class="nav nav-pills">
				<li class="active"><a href="/">定投回测</a></li>
				<li><a href="{{url_for('about', _external=True)}}">About</a></li>
			</ul>
		</div>
    </div>
</div>
{% endblock %}

{% block page_content %}
	<div class="page-content">
    
        {% if summary %}
        <p><h2 align="center">测试汇总报告</h2></p>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>项目名称</th>
                    <th>内容</th>
                    <th>项目名称</th>
                    <th>内容</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{ summary[0][0] }}</td>
                    <td>{{ summary[0][1] }}</td>
                    <td>{{ summary[9][0] }}</td>
                    <td>{{ summary[9][1] }}</td>
                </tr>
                <tr>
                    <td>{{ summary[1][0] }}</td>
                    <td>{{ summary[1][1] }}</td>
                    <td>{{ summary[10][0] }}</td>
                    <td>{{ summary[10][1] }}</td>
                </tr>
                <tr>
                    <td>{{ summary[2][0] }}</td>
                    <td>{{ summary[2][1] }}</td>
                    <td>{{ summary[11][0] }}</td>
                    <td>{{ summary[11][1] }}</td>
                </tr>
                <tr>
                    <td>{{ summary[3][0] }}</td>
                    <td>{{ summary[3][1] }}</td>
                    <td>{{ summary[12][0] }}</td>
                    <td>{{ summary[12][1] }}</td>
                </tr>
                <tr>
                    <td>{{ summary[4][0] }}</td>
                    <td>{{ summary[4][1] }}</td>
                    <td>{{ summary[13][0] }}</td>
                    <td>{{ summary[13][1] }}</td>
                </tr>
                <tr>
                    <td>{{ summary[5][0] }}</td>
                    <td>{{ summary[5][1] }}</td>
                    <td>{{ summary[14][0] }}</td>
                    <td>{{ summary[14][1] }}</td>
                </tr>
                <tr>
                    <td>{{ summary[6][0] }}</td>
                    <td>{{ summary[6][1] }}</td>
                    <td>{{ summary[15][0] }}</td>
                    <td>{{ summary[15][1] }}</td>
                </tr>
                <tr>
                    <td>{{ summary[7][0] }}</td>
                    <td>{{ summary[7][1] }}</td>
                    <td>{{ summary[16][0] }}</td>
                    <td>{{ summary[16][1] }}</td>
                </tr>
                <tr>
                    <td>{{ summary[8][0] }}</td>
                    <td>{{ summary[8][1] }}</td>
                    <td>{{ summary[17][0] }}</td>
                    <td>{{ summary[17][1] }}</td>
                </tr>
            </tbody>
        </table>    
        {% endif %} 
        
        <p>注意：如果测试结果的盈利和持仓为0，很可能是测试时间内，该品种不能交易，请和实际行情进行比对。</p>
        <p> &nbsp</p>
        
        {% if images %}
            {% for image in images %}
                <p><hr /></p>
                <p><h4>{{ image['title'] }}：</h4></p>
                <p><img src="static/tmp_pic/{{ image['filename'] }}" height="600" width="800"></img></p>
                <p> </p>
            {% endfor %}
        {% endif %} 
        
        <p><h4><a href="/">我要再测一次</a></h4></p>
    </div>
    
{% endblock %}
